#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
button{
  margin: 20px 0;
}

.spinner{
  width: 30px;
  height: 30px;
  margin: 20px 0;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-image {
  margin-top: 20px;
  width: 350px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
